.app-container {
  position: relative;
  margin-top: 3vw;
  display: grid;

  grid-template-columns: 9vw 1fr 9vw;

  > *:not(.full) {
    grid-column: 2;
    margin-bottom: 12vw;
  }

  @media (max-width: 950px) {
    gap: 7vw;
    grid-template-columns: 1fr;
    > *:not(.full) {
      grid-column: 1;
    }
  }
}
