.email {
  position: fixed;
  bottom: 0;
  align-self: self-end;
  justify-self: self-end;
  a {
    display: flex;
    gap: 20px;
    color: $clr2;
    padding: 10px;
    font-family: $font-mono;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    border: 0;
    font-style: 0;
    text-decoration: 0;
    margin: 0px;
    padding: 0;
    &::after {
      color: red;
      content: "";
      display: block;
      width: 1px;
      height: 100px;
      margin: 0px auto;
      background-color: $clr2;
    }
    transition: all 0.3s;

    &:hover {
      color: $clr5;
      gap: 25px;
    }
  }
  @media (max-width: 950px) {
    display: none;
  }
}
