.mobile-nav {
  display: none;
  transform: translateX(100%);
  transition: all 0.6s;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  width: clamp(120px, 32vw, 200px);
  .nav-items {
    height: 100vh;
    background-color: #112240;
    color: $clr3;
    flex-direction: column;
    gap: clamp(30px, 8vw, 50px);
    z-index: 5;
    justify-content: center;
    .nav-item {
      font-size: clamp(14px, 3vw, 16px);
      align-items: center;
    }
  }
  &.open {
    transform: translateX(0%);
  }
  @media (max-width: 950px) {
    display: block;
  }
}
